/* 自定义渐变背景类 */
.bg-theme-gradient {
  background: linear-gradient(
    to top left,
    var(--gradient-from),
    var(--gradient-via),
    var(--gradient-to)
  );
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.animate-fade-in {
  animation: fade-in 3s ease-in-out forwards;
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  30% {
    transform: translateX(0);
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-left {
  animation: fade-left 3s ease-in-out forwards;
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  30% {
    transform: translateX(0);
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-right {
  animation: fade-right 3s ease-in-out forwards;
}

@keyframes title {
  0% {
    line-height: 0%;
    letter-spacing: 0.25em;
    opacity: 0;
    color: transparent;
  }

  25% {
    line-height: 0%;
    opacity: 0;
    color: transparent;
  }

  50% {
    opacity: 100%;
    color: transparent;
  }

  80% {
    opacity: 100%;
    color: var(--foreground);
  }

  to {
    line-height: 100%;
    opacity: 100%;
    color: var(--foreground);
  }
}

.animate-title {
  animation: title 3s ease-out forwards;
}

.font-display {
  font-family: var(--font-geist-mono);
}
